# Dependencies
node_modules/
.pnp
.pnp.js

# Credentials
credentials.json
data-processing/credentials.json
.env
.env*.local

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Settings
.DS_Store
*.pem

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
